<div class="menu-container">
  <button [routerLink]="['/usuarios']">Ir a Usuarios</button>
  <button [routerLink]="['/temas']">Ir a Temas</button>
  <button [routerLink]="['/compras']">Ir a Compras</button>
  <button [routerLink]="['/cursos']">Ir a Cursos</button>
  <button [routerLink]="['/detalle-compra']">Ir a Detalle Compras</button>
</div>


<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100" style="background-color: #191b1d;">
  <h1 class="text-center">Lista de Temas</h1>

  <div class="mb-3 d-flex">
    <input
      type="text"
      class="form-control me-2"
      placeholder="Buscar por ID o nombre"
      [(ngModel)]="busqueda"
      (input)="filtrarTemas()"
    />
  </div>

  <table class="table table-striped text-white">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Curso</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>URL</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tema of temasFiltrados">
        <td>{{ tema.idtema }}</td>
        <td>{{ tema.idcurso }}</td>
        <td>{{ tema.nombre }}</td>
        <td>{{ tema.descripcion }}</td>
        <td>{{ tema.URL }}</td>

        <td>
          <button class="btn btn-warning" (click)="actualizarTema(tema.idtema)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarTema(tema.idtema)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón Registrar Tema alineado a la izquierda -->
  <div class="align-self-start mb-3">
    <button class="btn btn-primary" (click)="mostrarFormulario = !mostrarFormulario">
      {{ mostrarFormulario ? 'Cancelar Registro' : 'Registrar Tema' }}
    </button>
  </div>

  <div *ngIf="mostrarFormulario" class="mt-3">
    <h2 class="text-center">Registrar Nuevo Tema</h2>
    <form (ngSubmit)="crearTema()" class="w-50">
      <div class="mb-3">
        <input type="number" class="form-control" placeholder="ID Curso" [(ngModel)]="nuevoTema.idcurso" name="idcurso" required />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nuevoTema.nombre" name="nombre" required />
      </div>
      <div class="mb-3">
        <textarea class="form-control" placeholder="Descripción" [(ngModel)]="nuevoTema.descripcion" name="descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="URL" [(ngModel)]="nuevoTema.URL" name="URL" required />
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
      <button type="button" class="btn btn-secondary" (click)="mostrarFormulario = false">Cerrar</button>
    </form>
  </div>

  <p *ngIf="mensajeError" class="text-danger">{{ mensajeError }}</p>
</div>
